[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BiDAG"]
	path = BiDAG
	url = https://github.com/cran/BiDAG
[submodule "bnClustOmics"]
	path = bnClustOmics
	url = https://github.com/cran/bnClustOmics
